{% extends "base.html" %}

{% block main %}
<p>In no particular order:
<ul>
  <li>Sports</li>
  <li>Kids</li>
  <li>Religion</li>
  <li>Music</li>
  <li>Politics</li>
  <li>Internet</li>    
</ul>
</p>
{% endblock %}

{% block right %}
<p></p>
<ul class="links">
  <li><a href="http://stlcardinals.com">Cardinals</a></li>
  <li><a href="http://stlrams.com">Rams</a></li>
  <li><a href="http://stlblues.com">Blues</a></li>
  <li><a href="http://sports.espn.go.com/ncb/clubhouse?teamId=2509">Purdue BBall</a></li>
  <li><a href="http://sports.espn.go.com/ncf/clubhouse?teamId=2509">Purdue Football</a></li>
</ul>
{% endblock %}