{% extends "base.html" %}

{% block main %}
	<p>I reside in Kansas City with my wife and two children.</p>
	<p>I'm employed at Cerner Corporation as an architect building things for the web.</p>
    <p>For more about my professional life - <a href="http://linkedin.com/in/keithentzeroth">linked in</a></p>
    <p>If it's personal you're interested in look me up on <a href="http://twitter.com/keithentzeroth">twitter</a> or <a href="http://facebook.com/keithentzeroth">facebook</a></p>
{% endblock %}