<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>entzeroth.com {% block pagetitle %}{% endblock %}</title>
	<meta name="copyright" content="Copyright Cerner Corporation" />
	<link href="{{ MEDIA_URL }}css/oocsslib/template.css" media="all" rel="stylesheet" type="text/css" />
	<link href="{{ MEDIA_URL }}css/oocsslib/grids.css" media="all" rel="stylesheet" type="text/css" />
	<link href="{{ MEDIA_URL }}css/styles.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="page">
	<div class="head">
		<h1>Entzeroth.com</h1>
		<p>The personal web page of Keith Entzeroth.  (I just started this thing...cut me some slack)</p>	
	</div>
	<div class="body">
		<div class="leftCol">
		<h2>About Me</h2>
		<a href="http://www.flickr.com/photos/46184214@N05/4252834708/" title="IMAG0036 by keithentzeroth, on Flickr"><img src="http://farm5.static.flickr.com/4046/4252834708_aa7c752e9f_m.jpg" width="161" height="240" alt="IMAG0036" /></a>
		<p>
		I live in Kansas City with my wife and two children.  I'm employed at Cerner Corporation as an architect focused on all things web.
		</p>
		<h2>Elsewhere</h2>
		<ul class="links">
<!--		<li><a href="http://www.keithentzeroth.com">keithentzeroth.com</a></li> -->
			<li><a href="http://www.twitter.com/keithentzeroth">twitter</a></li>
			<li><a href="http://www.linkedin.com/in/keithentzeroth">linked in</a></li>
			<li><a href="http://keithentzeroth.blogspot.com/">blogspot</a></li>
  		</ul>		
		</div>
		<div class="rightCol">
		<h2>Teams</h2>
		<ul class="links">
		  <li>St. Louis
		    <ul class="links">
		      <li><a href="http://stlcardinals.com">Cardinals</a></li>
		      <li><a href="http://stlrams.com">Rams</a></li>
		      <li><a href="http://stlblues.com">Blues</a></li>
		    </ul>
		  </li>
		  <li>Purdue
		    <ul class="links">
		      <li><a href="http://sports.espn.go.com/ncb/clubhouse?teamId=2509">BBall</a></li>
		      <li><a href="http://sports.espn.go.com/ncf/clubhouse?teamId=2509">Football</a></li>
		    </ul>
		  </li>
		</ul>

		<h2>Bookshelf</h2>
		<ul class="links">
		  <li>Heretics: GK Chesterton</li>
		  <li><a href="/archive">Archive</a></li>
		</ul>
		</div>
		<div class="main">
			<h2>Interesting...</h2>
			<p>will be pointing out some stuff in my blog and around the web...</p>		
		</div>
	</div>
	<div class="foot">
		@2010 Keith Entzeroth
	</div>	
</div>


  <div class="body">
	<div id="header">
	</div>

	<div id="center" class="column">
	</div>
	<div id="left" class="column">
	</div>

	<div id="right" class="column">
	</div>

	<div id="footer"></div>
  </div>

</body>
</html>